/.env
/.stedsServer.sh.swp
/.vscode
/Passengerfile.json
/app.js
/config
/database copy.sqlite
/database.sqlite
/logs
/node_modules
/tmp
/yarn-error.log
/junk
deadfile*
setup/userData.js
/documents
/DBbackup
migrations
*.old.sqlite
/setup
ReportsPdf/testPdf.js
